html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 1rem;
}
img {
    max-width: 100%;
}
:focus:not(:focus-visible) {
	outline: none;
}

/* ==================
       Navigation
   ================== */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
	height: 5rem;
	background-color: #4579a0; /* steel blue */
	z-index: 1;
}

.mobile-name {
	display: none;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.65rem;
}

.menu a:hover {
	color: #fff;
}

.nav-name {
	font-size: 1.125rem;
	text-transform: uppercase;
}

.nav-link {
	font-size: 1.125rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #d2e0e9;
	margin-left: 4rem;
	clear: both;
}

.nav-btn {
	font-size: 1.125rem;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 4rem;
	clear: both;
	color: #4579a0; /* steel blue */
	background-color: #d2e0e9; /* botticelli (light blue) */
	height: 1.75rem;
	line-height: 0.75rem;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	-moz-border-radius: 1rem;
   	-webkit-border-radius: 1rem;
}

.nav-btn:hover {
	background-color: #002130; /* daintree (dark) */
	color: #d2e0e9; /* botticelli (light blue) */
}

label {
	display: none;
}

#toggle {
	display: none;
}

/* ==================
     Header Content
   ================== */
.hero {
	background-image: url("img/main-image-lg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #4579a0;
	background-blend-mode: multiply;
	height: 100vh;
}

/* Name and Title */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.name {
	font-size: 5.5vw;
	font-weight: 900;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.title {
	font-size: 1vw;
	font-weight: 700;
	letter-spacing: .1rem;
	text-align: center;
	width: 17vw;
	margin: 1rem auto;
	padding: 0.625rem 1rem;
	background-color: rgba(69, 121, 160, 0.8);
	border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
   	-webkit-border-radius: 0.25rem;
}

/* ==================
     	About Me
   ================== */
.about-container {
	background: rgba(210, 224, 233, 0.5); /* botticelli (light blue) */
	margin: 0 auto;
	padding: 5rem 0;
}

.sec-title {
	font-size: 2rem;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: .5rem;
	color: #4579a0; /* steel blue */
}

.rule {
	margin-top: .5rem;
	width: 6rem;
	border-top: 0.025rem solid #4579a0; /* steel blue */
	margin-bottom: 3rem;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
	max-width: 65rem;
}

/* Column 1 */
.about-col1 {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.about-img {
	padding-top: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
   	-webkit-border-radius: 50%;
	background-image: url("img/about-me.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.about-media-icons {
	display: flex;
	justify-content: center;
	margin-top: 1.125rem;
}

.about-sec.linkedin-icon,
.about-sec.email-icon {
	width: 4.688rem;
	height: 4.688rem;
	margin: 0 0.5rem;
}

.about-sec.linkedin-icon:hover,
.about-sec.email-icon:hover {
	opacity: 75%;
}

/* Column 2 */
.about-col2 {
	width: 60%; /*Le Magnifique*/
}

.about-text {
	font-size: 1.125rem;
	line-height: 1.6rem;
	width: 100%
}

.about-bold {
	font-weight: 700;
}

.skills {
	font-size: 1.1rem;
	font-weight: 900;
}

.skills-rule {
	border-top: 0.0125rem solid gray;
}

.icons {
	width: 50%;
}

/* ==================
     	Projects
   ================== */
.project-container {
	padding: 5rem 0;
	background: #fff;
}

.project-subhead {
	color: #4579a0; /* steel blue */
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
	justify-content: center;
	margin: 0 auto;
	max-width: 75rem;
}

.grid-item {
	position: relative;
	width: 100%;
	
}

.project-image {
	display: block;
	width: 100%;
	border-radius: 0.9rem;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 0.9rem;
	opacity: 0;
	transition: 0.2s ease-in;
}

.overlay-blur {
	backdrop-filter: blur(4px);
}

.overlay:hover {
	opacity: 1;
}

.project-description {
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.project-name {
	font-size: 1.6rem;
	font-weight: 900;
	text-transform: uppercase;
}

.project-text {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5rem;
	padding: 3% 6% 5% 6%;
}

.github-container {
	display: flex;
	justify-content: center;
}

.github-container a {
	text-decoration: none;
}

.code-btn, .app-btn {
	font-size: 0.8rem;
	font-weight: 900;
	text-transform: uppercase;
	background: #fff;
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	margin: 0 1rem;
}

.code-btn:hover,
.app-btn:hover {
	background: #d2e0e9;
}

/* ==================
     	Footer
   ================== */
.footer-container {
	background: #4579a0; /* steel blue */
	padding: 3rem 0;
}

.blurb {
	font-size: 1.75rem;
	letter-spacing: 0.05rem;
	text-align: center;
	color: #d2e0e9; /* botticelli (light blue) */
}

.media-icons {
	display: flex;
	align-content: center;
	justify-content: center;
}

.foot-linkedin-icon, .foot-email-icon {
	width: 3.125rem;
	height: 3.125rem;
	margin: 2rem 0.75rem;
}

.foot-linkedin-icon:hover, 
.foot-email-icon:hover {
	opacity: 75%;
}

.copyright {
	font-size: 0.85rem;
	font-weight: 400;
	letter-spacing: 0.07rem;
	text-align: center;
	color: #d2e0e9; /* botticelli (light blue) */
}

/* ========================================================
   Media queries for tablet landscape (901px to 1220px) 
   ======================================================== */
@media screen and (min-width: 901px) and (max-width: 1220px) {
	/* Background Image */
	.head-container {
		background-image: url("img/main-image-med.jpg");
		height: 100vh;
	}
	/* Navigation */
	.nav {
		height: 4rem;
	}

	.menu {
		padding: 1.35rem;
	}

	.nav-name {
		font-size: 1rem;
	}

	.nav-link {
		font-size: 1rem;
	}

	.nav-btn {
		font-size: 1rem;
		height: 1.5rem;
		line-height: 0.95rem;
		padding: 0.25rem 0.75rem;
		border-radius: 0.75rem;
		-moz-border-radius: 0.75rem;
		-webkit-border-radius: 0.75rem;
	}

	/* Name and Title */
	.name {
		font-size: 7vw;
	}

	.title {
		font-size: 1.2vw;
		width: 20vw;
		padding: 0.5rem 1.25rem;
	}

	/* About Subhead */
	h3 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	.rule {
		margin-top: 0.3rem;
		width: 5rem;
		margin-bottom: 3rem;
	}

	.about-text, .skills {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.about-bold {
		font-weight: 700;
	}

	/* About Column 1 */
	.flex-container {
		width:75%;
		max-width: 60rem;
	}

	.about-text {
		font-size: 1rem;
		line-height: 1.6rem;
	}

	/* Column 1 */
	.about-sec.linkedin-icon,
	.about-sec.email-icon {
		width: 3.75rem;
		height: 3.75rem;
	}

	.about-sec.linkedin-icon:hover,
	.about-sec.email-icon:hover {
		opacity: 75%;
	}

	/* Projects */
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		max-width: 80%;
	}

	.project-name {
		font-size: 1.125rem;
	}

	.project-text {
		font-size: 0.75rem;
		font-weight: 400;
		line-height: 1rem;
	}

	.code-btn, .app-btn {
		font-size: 0.6rem;
		width: 2.25rem;
		height: 2.25rem;
		padding: 2% 6% 3% 6%;
	}

	/* Contact */
	.contact-container {
		padding: 4rem 0;
	}

	.content {
		position: absolute;
		top: 14%;
	}
}

/* ========================================================
   Media queries for tablet postrait (641px to 900px) 
   ======================================================== */
@media screen and (min-width: 641px) and (max-width: 900px) {
	/* Background Image */
	.head-container {
		background-image: url("img/main-image-med.jpg");
		height: 100vh;
	}
	/* Navigation */
	.nav {
		height: 3.75rem;
	}

	.menu {
		padding: 1.2rem;
	}

	.nav-name {
		font-size: 0.9rem;
	}

	.nav-link {
		font-size: 0.9rem;
		line-height: 1rem;
		margin-left: 3rem;
	}

	.nav-btn {
		font-size: 0.9rem;
		height: 1.5rem;
		line-height: 1rem;
		padding: 0.25rem 0.75rem;
		border-radius: 0.75rem;
		-moz-border-radius: 0.75rem;
		-webkit-border-radius: 0.75rem;
	}

	/* Name and Title */
	.name {
		font-size: 11vw;
		line-height: 5rem;
	}

	.title {
		font-size: 2vw;
		width: 30%;
		margin: 1rem auto;
		padding: 0.5rem 0.75rem;
	}

	/* About Me */
		.about-container {
		padding: 3rem 0;
	}

	.sec-title {
		font-size: 2rem;
		margin-bottom: .5rem;
	}

	.rule {
		margin-top: .5rem;
		width: 4rem;
		margin-bottom: 2.5rem;
	}

	.flex-container {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		width: 80%;
	}

	.about-col1, .about-col2 {
		width: 100%;
	}

	.about-img {
		width: 60%;
		height: 60%;
		padding-top: 60%;
		border-radius: 50%;
		-moz-border-radius: 50%;
   		-webkit-border-radius: 50%;
		background-image: url("img/about-me.jpg");
		background-size: cover;
		margin: 0 auto;
	}

	.about-sec.linkedin-icon,
	.about-sec.email-icon {
		width: 3.75rem;
		height: 3.75rem;
		margin: 0.5rem 0.5rem 1.25rem 0.5rem;
	}

	.about-text, .skills {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.about-bold {
		font-weight: 700;
	}

	.icons img {
		width: 100%;
		padding-top: 0.5rem;
	}

	/* Projects */
	.project-container {
		padding: 3rem 0;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		max-width: 80%;
	}

	.project-name {
		font-size: 1.25rem;
	}

	.project-text {
		font-size: 0.85rem;
		font-weight: 400;
		line-height: 1.125rem;
	}

	.code-btn, .app-btn {
		font-size: 0.7rem;
		width: 2.5rem;
		height: 2.5rem;
		padding: 2% 6% 3% 6%;
	}
		/* Footer */
	.contact-container {
		padding: 3rem 0;
	}

	.foot-btn-container {
		width: 50%;
		padding: 0;
	}
}

/* ========================================================
   Media queries for phones (640px and down) 
   ======================================================== */
@media only screen and (max-width: 640px) {
	/* Image */
	.head-container {
		background-image: url("img/main-image-sm.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: #4579a0;
		background-blend-mode: multiply;
		height: 100vh;
	}

	/* Navigation */
	.nav {
		height: 3.25rem;
		background: rgba(69, 121, 160, 0.8);
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.mobile-name {
		display: block;
		font-size: 1.125rem;
		font-weight: 700;
		text-transform: uppercase;
		margin: auto;
	}

	.menu-btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3.5rem;
		height: 2.5rem;
		cursor: pointer;
	}
	
	.menu-btn-burger {
		width: 1.563rem;
		height: 0.188rem;
		background: #fff;
		border-radius: 0.125rem;
	}
	
	.menu-btn-burger::before,
	.menu-btn-burger::after {
		content: '';
		position: absolute;
		width: 1.563rem;
		height: 0.188rem;
		background: #fff;
		border-radius: 0.125rem;
	}
	
	.menu-btn-burger::before {
		transform: translateY(-8px);
	}
	
	.menu-btn-burger::after {
		transform: translateY(8px);
	}

	/* Mobile Menu Animation */
	.menu-btn.open .menu-btn-burger {
		transform: translateX(-50px);
		background: transparent;
	}

	.menu-btn.open .menu-btn-burger::before {
		transform: rotate(45deg) translate(35px, -35px);
	}

	.menu-btn.open .menu-btn-burger::after {
		transform: rotate(-45deg) translate(35px, 35px);
	}

	.menu {
		text-align: center;
		width: 100%;
		margin-top: auto;
		background: #4579a0; /* steel blue */
		height: 100vh;
		flex-direction: column;
		display: none;
	}

	.change.menu {
		display: inherit;
	}

	.change.nav-link {
		display: none;
	}

	.nav-name {
		display: none;
	}

	.nav-link {
        font-size: 1rem;
        margin: 1.75rem;
	}
	
	.nav-btn {
		color: #4579a0;
        font-size: 1rem;
        line-height: 1.25rem;
        margin-top: 1.75rem;
        padding: 0.25rem 0.75rem;
	}

	/* Name and Title */
	.name {
		font-size: 15vw;
		line-height: 100%;
	}

	.title {
		font-size: 4vw;
		width: 60%;
		margin: 0.75rem auto;
		padding: 0.5rem 1.25rm;
	}

	/* About Me */
	.about-container {
		padding: 3rem 0;
	}

	.sec-title {
		font-size: 1.5rem;
		margin-bottom: .5rem;
	}

	.rule {
		margin-top: .5rem;
		width: 4rem;
		margin-bottom: 2.5rem;
	}

	.flex-container {
		flex-direction: column;
		align-content: center;
		margin: 0 auto;
		width: 80%;
	}

	.about-col1, .about-col2 {
		width: 100%;
	}

	/* Email and Linkedin Buttons */
	.about-sec.linkedin-icon,
	.about-sec.email-icon {
		width: 3.438rem;
		height: 3.438rem;
		margin: 0.5rem 0.5rem 1.25rem 0.5rem;
	}

	.about-text, .skills {
		font-size: 1rem;
		line-height: 1.6rem;
	}

	.about-bold {
		font-weight: 700;
	}

	.skills {
		padding-bottom: 0.25rem;
		border-bottom: 0.063rem solid gray;
	}

	.skills-rule {
		display: none;
	}

	.icons {
		width: 100%;
		padding-top: 0.5rem;
	}

	/* Projects */
	.project-container {
		padding: 3rem 0;
	}

	.grid {
		grid-template-columns: 1fr;
		max-width: 80%;
	}

	.project-name {
		font-size: 1.125rem;
	}

	.project-text {
		font-size: 0.8rem;
		font-weight: 400;
		line-height: 1.125rem;
		padding: 2% 6% 4% 6%;
	}

	.code-btn, .app-btn {
		font-size: 0.5rem;
		width: 2rem;
		height: 2rem;
		margin: 0.125rem 0.75rem;
	}

	/* Contact */
	.blurb{
		font-size: 1.5rem;
		max-width: 80%;
		margin: 0 auto;
	}

	.copyright {
		font-size: 0.6rem;
	}
}